<ul ch-asset-container>
	<li v-repeat="assets" class="masonry-item" ch-asset v-transition>
		<div ch-asset-border>

			<div ch-asset-image>
				<img v-attr="src: url + '/w/360'" v-asset="url: asset">
				<p>
					<img src="/assets/images/heart.svg"> 
					<span>{{hearts}}</span>
				</p>
			</div>


			<div ch-asset-content>

				<p v-html="caption | trim | hashtag"></p>

				<div ch-media ch-asset-user>
					<img v-attr="src: account.avatar" v-asset="account.avatar: avatar">
					<b ch-media-content>
						{{account.username}} 
					</b>
					<span ch-media-content>{{moment(created_at).fromNow()}}</span>
				</div>
				
			</div>
		</div>
	</li>
</ul>

<div v-if="loading && !allLoaded" ch-asset-loaded>
	<h1>Loading more images ...</h1>
</div>

<div v-if="allLoaded" ch-asset-loaded>
	<h1>All images loaded</h1>
</div>