[ch-asset-container] {
	margin: 2rem;
	margin-bottom: 6rem;
}

[ch-asset] {
	@include transition(300ms all cubic-bezier(0.86, 0, 0.07, 1), 300ms opacity linear);
	overflow: hidden;
	font-size: 0.875rem;
	line-height: 1.4em;

	[ch-asset-image] {
		position: relative;

		> img {
			width: 100%;
			border-bottom: 1px solid rgb(220, 220, 220);
		}

		> p {
			position: absolute;
			top: 50%;
			left: 50%;
			background: rgba(#2F3633, 0.9);
			@include border-radius(100rem);
			padding: 0.5rem 1rem;
			vertical-align: middle;
			color: white;

			@include transform(translate3d(-50%, -40%, 0));
			@include transition(200ms all ease);
			opacity: 0;

			img {
				width: 1rem;
				vertical-align: -2px;
				margin-right: 0.5rem;
			}

			img span {
				display: inline-block;
			}
		}
	}
	
	[ch-asset-image] > img {
		
	}

	[ch-asset-border] {
		margin: 1rem;
		border: 1px solid rgb(220, 220, 220);
		overflow: hidden;
		@include border-radius(3px);
		cursor: pointer;
	}

	[ch-asset-content] {
		padding: 1rem;

		> p {
			margin-bottom: 1rem;
		}
	}
	
	[ch-asset-user] {
		> img {
			width: 2rem;
		}

		span {
			padding-left: 1rem;
		}
	}


	// Animations
	&.v-enter,
	&.v-leave { 
		opacity: 0;
		@include transform(translate3d(0, 10%, 0));
	}

	&:hover {
		[ch-asset-border] {
			border: 1px solid rgb(180, 180, 180);
		}

		[ch-asset-image] p {
			opacity: 1;
			@include transform(translate3d(-50%,-50%,0));
		}
	}

	width: 100%;

	@media (min-width: 600px) {
		width: 50%;
	}

	@media (min-width: 960px) {
		width: 33%;
	}

	@media (min-width: 1024px) {
		width: 25%;
	}
}

[ch-asset-load] {
	padding: 6rem 0;
	text-align: center;
	opacity: 0.5;
}

[ch-asset-preview] {
	position: fixed;
	background: rgba(0,0,0,0.9);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	@include transition(300ms all cubic-bezier(0.86, 0, 0.07, 1), 300ms opacity linear);

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
		@include border-radius(6px);
		@include transition(300ms all cubic-bezier(0.86, 0, 0.07, 1), 300ms opacity linear);

		// Animations
		&.v-enter,
		&.v-leave { 
			@include transform(translate(-50%,-30%));
		}
	}

	// Animations
	&.v-enter,
	&.v-leave { 
		opacity: 0;
	}
}