[ch-media] {
	overflow:hidden; 
	_overflow:visible; 
	zoom:1;

	> img {
		float:left; 
		margin-right: 10px;
		display: block;
		@include border-radius(100rem);
	}

	[ch-media-content] {
		overflow:hidden; 
		_overflow:visible; 
		zoom:1;
	}
}